<p>1+1</p>
<p>Hoşgeldiniz: {{ name }} Yaş: {{ age }}</p>

<p>Sayı {{ count }}</p>
<button (click)="increase()">Artır</button>
<button (click)="decrease()">Azalt</button>

<br />

<label>İsminizi Giriniz</label>
<!-- Banana Syntax -->
<!-- NgModel => FormsModule'ün bir attribute'ı -->
<input [(ngModel)]="name" (ngModelChange)="onNameChange()" />
<p>{{ name }}</p>

<button (click)="submit()">Gönder</button>
<br />
<!-- href => tarayıcıya bu url'e yeni istek at -->
<!-- ANGULARIN İÇERİSİNDE AYNI UYGULAMA İÇERİSİNDEKİ YÖNLENDİRMELERDE HREF KULLANIMI YASAK -->
<a href="https://www.etiya.com/en" target="_blank">Etiya</a>
<br />
<a routerLink="/dashboard">Example</a>
