<div class="d-flex justify-content-center align-items-center my-5">
  <form [formGroup]="registerForm">
    <input type="text" formControlName="name" />
    <br />
    <select formControlName="job">
      <option value="0">Programcı</option>
      <option value="1">Analist</option>
      <option value="2">Test</option>
    </select>
    <br />
    <input formControlName="acceptTerms" type="checkbox" />
    <br />
    <br />
    <button (click)="submit()">Kayıt Ol</button>
  </form>
</div>
<!-- JSON,XML -->
