<div class="d-flex justify-content-center align-items-center my-5">
  <!-- <div class="form-group">
    <label>E-mail</label>
    <input class="form-control" />
  </div> -->
  <div>
    <input type="text" [(ngModel)]="name" />
    <br />
    <select [(ngModel)]="job">
      <option value="programcı">Programcı</option>
      <option value="analist">Analist</option>
      <option value="test">Test</option>
    </select>
    <br />
    <input [(ngModel)]="acceptTerms" type="checkbox" />
    <br />
    <br />
    <button (click)="submit()">Kayıt Ol</button>
  </div>
</div>
<!-- JSON,XML -->
