<div
  class="d-flex flex-column justify-content-center align-items-center h-100vh"
>
  <!-- alt gr + T -->
  <p>{{ today | date : "dd/MM/yyyy HH:mm" }}</p>
  <p>{{ 100 | kdv }}</p>

  <form (submit)="submit()" [formGroup]="formGroup">
    <div class="form-group">
      <label [appHighlight]="'yellow'">Kullanıcı Adı</label>
      <input formControlName="username" type="text" class="form-control" />
      <span
        *ngIf="
          formControls['username'].touched &&
          hasValidationError('username', 'required')
        "
        class="text-danger"
        >Kullanıcı adı girmek zorunludur.</span
      >
      <span
        *ngIf="
          formControls['username'].touched &&
          hasValidationError('username', 'minlength')
        "
        class="text-danger"
        >Kullanıcı adı en az 3 hane olmalıdır.</span
      >
    </div>
    <div class="form-group">
      <label [appHighlight]="'purple'">Şifre</label>
      <input formControlName="password" type="password" class="form-control" />
      <span
        *ngIf="
          formControls['password'].touched &&
          hasValidationError('password', 'required')
        "
        class="text-danger"
        >Şifre girmek zorunludur.</span
      >
      <span
        *ngIf="
          formControls['password'].touched &&
          hasValidationError('password', 'minlength')
        "
        class="text-danger"
        >Şifre en az 3 hane olmalıdır.</span
      >
    </div>
    <div class="my-2">
      <button class="btn btn-secondary mx-2">Temizle</button>
      <button type="submit" class="btn btn-primary">Giriş Yap</button>
    </div>
  </form>
</div>
